<template>
	<div class="container">
		<div class="spacer"></div>
		<form class="centered" @submit.prevent="setAge">
			<label for="age">How old are you?</label>
			<input id="age" required v-model="val" type="text" placeholder="Your Entry" />
			<div class="bottom">
				<button v-bind:type="button.type" @click="goto = button.url" v-for="(button, idx) in screen.buttons" :key="idx">{{ button.text }}</button>
			</div>
		</form>
	</div>
</template>

<script>
export default {
	name: "home",
	computed: {
		screen() {
			return this.$store.state.screens[1]
		}
	},
	methods: {
		setAge(e) {
			e.preventDefault();
			this.$store.dispatch('setAge', this.val).then(() => this.$router.push({ path: this.goto }))
		}
	}
};
</script>
