<template>
  	<div class="container">
		<h2 class="centered">Resume</h2>
		<ul class="centered">
			<li v-for="(item, idx) in user" :key="idx">
				<div class="list-wrapper">
					<p class="small">{{ idx }}</p>
					<h4>{{ item }}</h4>
				</div>
			</li>
		</ul>
		<div class="bottom">
			<button v-bind:type="button.type" @click="goto = button.url; sendToServer()" v-for="(button, idx) in screen.buttons" :key="idx">{{ button.text }}</button>
		</div>
  	</div>
</template>

<script>
export default {
	name: "summary",
	computed: {
		screen() {
			return this.$store.state.screens[2]
		},
		user() {
			return this.$store.state.currentUser
		}
	},
	methods: {
		sendToServer() {
			this.$store.dispatch('sendToServer', this.val).then(() => this.$router.push({ path: this.goto }))
		}
	}
};
</script>
