<template>
	<div class="container">
		<h2 class="centered">Welcome</h2>
		<form class="centered" @submit.prevent="setName">
			<label for="name">What's your name?</label>
			<input id="name" required v-model="val" type="text" placeholder="Your Entry" />
			<div class="bottom">
				<button v-bind:type="button.type" @click="goto = button.url" v-for="(button, idx) in screen.buttons" :key="idx">{{ button.text }}</button>
			</div>
		</form>
	</div>
</template>

<script>
export default {
	name: "home",
	computed: {
		screen() {
			return this.$store.state.screens[0]
		}
	},
	methods: {
		setName(e) {
			e.preventDefault();
			this.$store.dispatch('setName', this.val).then(() => this.$router.push({ path: this.goto }))
		}
	}
};
</script>
