<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

// Color Palette
// Mercury
$mercury-900: #101010; // 900
$mercury-600: #424242; // 600
$mercury-200: #a6a6a6; // 200
$mercury-50: #E9E9E9; // 50
$mercury-20: #fbfbfb; // 20
//  Made with Geenes | geenes.app 

body {
	margin: 0 auto;
	background-color: $mercury-20;
}

* {
	font-family: 'Roboto', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: $mercury-900;
	font-weight: 400;
	padding-bottom: 2rem;
}

b, strong {
	color: $mercury-600;
}

a {
	color: $mercury-600;
	text-decoration: none;
}
a:hover, a:active {
	color: $mercury-900;
	text-decoration: underline;
}
a:visited {
	color: $mercury-600;
}

button {
	background-color: $mercury-600;
	color: $mercury-20;
	border-radius: 2px;
	border: solid 0px transparent;
	padding: 10px 20px 10px 20px;
	min-width: 100px;
	margin: 0 15px;
}
button:hover {
	background-color: $mercury-200;
	color: $mercury-900;
}
.container {
	padding: 25px;
	display: flex;
	align-self: center;
	flex-direction: column;
	height: calc(100vh - 50px);
}
.centered {
	display: flex;
	align-content: center;
	align-self: center;
	flex-direction: column;
}
.spacer {
	height: calc(60px + .83em + .83em);
}
form.centered {
	align-self: flex-start;
	width: 100%;
}
.bottom {
	position: absolute;
	bottom: 50px;
	align-self: center;
}
label {
	font-size: .7rem;
	color: $mercury-200;
}
input {
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: .5rem;
	border-bottom: 1px solid $mercury-200;
	color: $mercury-900;
	font-size: 1rem;
	line-height: 1.5rem;
	width: 100%;
}
ul {
	min-width: 75vw;
	list-style: none; 
}
p.small {
	font-size: .8rem;
	color: $mercury-600;
	font-weight: 600;
}
h4 {
	font-size: 1.4rem;
	font-weight: 200;
}
</style>
